:root {
  /* Colors */
  --color-bg: #d9d9d9; /* BACKGROUND */
  --color-text: #2c2c28; /* TEXT */
  --color-primary: #f5f5f5; /* CARDS NAVBAR SECTIONS */
  --color-secondary: #2197bd; /* BUTTONS AND LINKS */
  --color-accent: #5ce1e6; /* HIGHLIGHTS AND HOVER STATES */

  --color-dark: #222222;
  --color-light: #ffffff;

  /* Typography */
  --font-base: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* Font Sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 2.5rem; /* 40px */
  --text-4xl: 3rem; /* 48px */

  /* Image and Icon Sizes */
  --logo-image-height-sm: 40px;
  --hero-image-height-sm: 220px;
  --hero-image-height-lg: 300px;
  --social-icon-height-sm: 32px;
  --map-image-width-sm: 450px;

  /* Spacing */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 1rem; /* 16px */
  --space-md: 1.5rem; /* 24px */
  --space-lg: 2rem; /* 32px */
  --space-xl: 3rem; /* 48px */
  --space-2xl: 4rem; /* 64px */

  /* Radius, Borders & Shadows */
  --radius-sm: 8px;
  --radius-lg: 50px;
  --shadow-sm: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 6px 20px rgba(0, 0, 0, 0.12);
  --border-sm: 2px;
  --border-lg: 4px;

  /* Widths */
  --translateY-width: 5px;

  /* Pixel to Rem */
  /*    8px	    0.5rem
        10px	0.6rem
        12px	0.8rem
        14px	0.9rem
        15px	0.9rem
        16px	1rem
        18px	1.1rem
        20px	1.3rem
        24px	1.5rem
        25px	1.6rem
        28px	1.8rem
        32px	2rem
        36px	2rem
        40px	3rem
        44px	3rem
        48px	3rem    */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 16px default */
}

body {
  font-family: var(--font-base);
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--color-text);
  background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: var(--space-sm);
  color: var(--color-dark);
}

h1 {
  font-size: var(--text-3xl);
}
h2 {
  font-size: var(--text-2xl);
}
h3 {
  font-size: var(--text-xl);
}
p {
  margin-bottom: var(--space-sm);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-secondary);
}

/* End of Starter Template */

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.container h1 {
  text-align: center;
  margin: var(--space-xl);
  background-color: var(--color-primary);
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
  color: var(--color-secondary);
}

.container > p {
  text-align: start;
  margin: var(--space-xs) var(--space-sm);
  padding: var(--space-sm);
  color: var(--color-text);
}

.accordion {
  list-style: none;
}

.accordion .tab {
  margin-bottom: var(--space-sm);
  overflow: hidden;
  background: var(--color-primary);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-sm);
}

.accordion .tab:hover {
  background-color: var(--color-secondary);
  scale: 1.1;
  transition: all 200ms ease;
}

.accordion-header {
  padding: var(--space-xl);
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  font-family: var(--font-heading);
  font-size: var(--text-base);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
}

.accordion-header i {
  transition: transform 0.3s ease;
}

.accordion-header:hover {
  color: var(--color-accent);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 var(--space-sm);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space-md);
}

.accordion-content.open {
  padding: var(--space-md);
  max-height: 50vh;
}

.accordion .active {
  scale: 1.1;
}

.accordion .active .accordion-header {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}

.accordion .active .accordion-header i {
  transform: rotate(180deg);
}

.accordion-content input, p {
  align-self: center;
  margin: 0;
  padding: 0;
}

.accordion-content input {
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-sm);
  border-style: none;
  outline: none;
  min-width: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.accordion-content button {
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-lg);
  border-style: none;
  background-color: var(--color-secondary);
  color: var(--color-accent);
  font-size: var(--text-base);
  cursor: pointer;
}

.accordion-content button:hover{
  scale: 1.1;
  color: var(--color-primary);
  transition: all 300ms ease;
}

#operation{
  padding: var(--space-xs) var(--space-lg);
  outline: none;
  border: none;
  color: var(--color-text);
  font-size: var(--text-base);
  border-radius: var(--radius-sm);
}
